.barra-contacto{
    height: 100%;
    width: 100vw;
}

.contacto{
    padding: 20px;
    h2 {
        text-align: center;
        margin-bottom: 10px;
        font-family:  'Castoro Titling', cursive;
        font-size: 1.5rem;
    }
   
    p{
        font-family: 'Dancing Script';
        font-size: 1.125rem;
        margin-bottom: 20px;
        text-align: justify;
    }
    a{
        display: flex;
        gap: 6px;
        text-decoration: none;
        color: black;

        &:hover{
            color:grey;
        }
    }
    .formulario{
        margin-top: 20px;
        padding: 20px;

        &__info{
            display: flex;
            flex-direction: column;
            gap: 10px;

            &--nombre{
                font-family: 'Courier New', Courier, monospace;
                border-radius: 6px;
                border: 2px solid black;
            }
            &--email{
                font-family: 'Courier New', Courier, monospace;
                border-radius: 6px;
                border: 2px solid black;

            }
            &--mensaje{
                font-family: 'Courier New', Courier, monospace;
                border-radius: 6px;
                border: 2px solid black;

            }
            &--boton{
                font-family: 'Courier New', Courier, monospace;
                border-radius: 6px;
                border: 2px solid black;

                &:hover{
                    color: grey;
                }
            }
        }
    }
}
