/*-----INDEX-----*/

.barra{
    height: 100vh;
    width: 100vw;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    
}  

nav{
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.7;
    top: 0px;
    h1{
        text-align: center;

        .nombre{
            text-decoration: none;
            color: black;
            font-family: 'Castoro Titling', cursive;
            font-size: 1.2rem ;
            align-content: center;
        }
    }
    .texto-barra{
        text-align: center;

        ul li{
    
            display: inline-flex;
            list-style-type: none;
            font-family: 'Dancing Script';
            color: black;

            a{
                color: black;
                text-decoration: none;
                font-size: 0.8rem;
                font-weight: 500;
                padding: 0px  1px;
            
            }
            
        }
    }

}
.info{
    background-color: black;
    height: 150px;
    width: 100vw;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 1rem;
    color: white;

    p{
        padding:30px ;
    }
}

footer{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:white;
    
    h2{
        font-family: 'Castoro Titling', cursive;
        text-align: center;
        font-size: 1.2rem ;
        margin-bottom: 10px;

       
    }
    .redes{
       display: flex;
       gap: 6px;
       justify-content: center;
       margin-bottom: 10px;
       
       
    }

    p{  
        text-align: center;
        font-size: 0.6rem;
        margin-bottom: 10px;
    }

    a{
    color: black;
    font-size: 0.7rem;
   }
  
}
.logo-animado:hover {
    animation-name: animacion-imagen;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animacion-imagen {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


